:root {

    /* COLOR */
    --primary-color-A: #F6F1F1;
    --primary-color-B: #38AFFF;
    --primary-color-C: #069AFD;
    --primary-color-D: #3a7bd5;
    --primary-color-E: #FDD408;
    --primary-color-F: #2c2c2c;

    /* GRADIENT A */

    --primary-gradient-A: #069afd;
    --primary-gradient-B: #397ad5;

    /* Background */

    background-color: #F6F1F1;

}

/* ////////////////////////////////// */
/* ////////////////////////////////// */
/* ////////////////////////////////// */

/* flash of unstyled text logic - FOUT */
/* Hide the content initially */
.fonts-loading body {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}

/* Display the content when the font is ready */
.fonts-loaded body {
    visibility: visible;
    opacity: 1;
}

/* Font */
body {
    font-family: 'Roboto', sans-serif;
}

/* Extra bootstrap font sizes */
.fs-6 {
    font-size: 1.3rem;
}

.fs-7 {
    font-size: 1.5rem;
}

.fs-8 {
    font-size: 1.75rem;
}

.fs-9 {
    font-size: 2rem;
}

.fs-10 {
    font-size: 2.5rem;
}

/* Typerwriter Effect */

.typer-header {
    height: 1rem;
    /* Adjust the height as desired */
    /* background-color: #f2f2f2; Adjust the background color */
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.typer-text {
    font-size: 3rem;
    /* Adjust the font size */
    color: var(--primary-color-F);
    /* Adjust the text color */
}

.sec-text {
    overflow: hidden;
    color: var(--primary-color-C);
    border-right: 4px solid var(--primary-color-F);
    /* Adjust the typewriter cursor style */
    padding-right: 10px;
    /* Adjust the typewriter cursor spacing */
    animation: typing 2s steps(20) infinite, blink 1s infinite;
    white-space: nowrap;
    width: 0;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
        /* Make the cursor disappear at 50% of the animation */
    }
}

/* Analog button idea */

/* .btn-analog {
    background-color: var(--primary-color-C);
    box-shadow: var(--primary-color-D) 4px 4px 0px;
    border-radius: 8px;
    transition: transform 200ms, box-shadow 200ms;
}

.btn-analog:active {
    transform: translateY(4px) translateX(4px);
    box-shadow: var(--primary-color-D) 0px 0px 0px;
}

.btn-analog:hover,
.btn-analog:active {
    background-color: var(--primary-color-C);
} */

/* Gradient - Background */

.bg-gradient-primary-to-secondary {
    background: #1e30f3;
    background: linear-gradient(135deg, var(--primary-gradient-A) 0%, var(--primary-gradient-B) 100%);
}

.bg-gradient-secondary-to-primary {
    background: #1e30f3;
    background: linear-gradient(135deg, var(--primary-gradient-B) 0%, var(--primary-gradient-A) 100%);
}

/* Gradient - Text */

.text-gradient {
    background: linear-gradient(135deg, var(--primary-gradient-A) 0%, var(--primary-gradient-B) 100%);

    background: linear-gradient(135deg, var(--primary-gradient-A) 0%, var(--primary-gradient-B) 100%);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Text Color Palette */
.text-color-A {
    color: var(--primary-color-A);
}

.text-color-B {
    color: var(--primary-color-B);
}

.text-color-C {
    color: var(--primary-color-C);
}

.text-color-D {
    color: var(--primary-color-D);
}

.text-color-E {
    color: var(--primary-color-E);
}

.text-color-F {
    color: var(--primary-color-F);
}


.btn-color-A {
    background-color: var(--primary-color-C);
}

/* SVG fill & hover */
.svg-container {
    fill: var(--primary-color-F);
    transition: fill 0.3s ease;
    /* Add transition effect for smooth color change */
}

.svg-container:hover {
    fill: var(--primary-color-C);
    /* Change to your desired hover color */
}

.social-color {
    color: var(--primary-color-F);
    /* Set the initial color */
    transition: color 0.3s ease;
    /* Add transition effect for smooth color change */
}

.social-color:hover {
    color: var(--primary-color-C);
    /* Change to your desired hover color */
}

/* Navbar */

.navbar-nav .nav-item:hover .nav-link {
    color: var(--primary-color-D);
    /* Replace with your desired hover color */
}

.scroll-box {
    max-height: 400px;
    /* Adjust the height as per your requirements */
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;

}


/* honor award styling */

.thumbnail-img {
    cursor: pointer;
    object-fit: cover;
    max-width: 50%;
    max-height: auto;
    border: 0;
    transition: border-width 0.3s, transform 0.3s;
    border-style: solid;
    border-color: var(--primary-color-B);
}

.thumbnail-img:hover {
    border-width: 5px;
    transform: scale(1.09);
}

.border-color-custom {
    border-color: var(--primary-color-E);
}

/* letter spacing */

.text-spacing-sm {
    letter-spacing: .05em;
}

.text-spacing-md {
    letter-spacing: .1em;
}

.text-spacing-lg {
    letter-spacing: 1em;
}

/* line height --> resume job locations */
.name-line-height {
    line-height: 2.4rem;
}

/* btn hover */

.btn-hover {
    transition: transform 0.3s ease;
}

.btn-hover:hover {
    transform: scale(1.09);
    color: var(--primary-color-B);
}

/* projects thumbnail image for 2 images overlayed */

.project-img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    overflow: hidden;
}


/* Carousel captions and arrow buttons */

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    /* Semi-transparent black background */
    color: #fff;
    /* White text color */
    font-size: 24px;
    /* Increase font size for captions */
    padding: 10px;
    /* Add some padding for better visual separation */
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.7);
    /* Semi-transparent black background for buttons */
    border-radius: 50%;
    /* Round the buttons */
    width: 40px;
    /* Increase button size */
    height: 40px;
    top: 50%;
    /* Center vertically within the carousel */
    transform: translateY(-50%);
    opacity: 0.7;
    /* Reduce opacity by default */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 1;
    /* Increase opacity on hover for better visibility */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    /* You can use custom arrow icons or larger icons here for better visibility */
    width: 20px;
    height: 20px;
}

/* FUN facts */

.fact-card {
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    transition: background-blend-mode 0.5s ease, transform 0.5s ease;
    transform-origin: center;
    border-radius: 3rem;
    background-color: var(--primary-color-F);
    box-shadow: 0 0 10px var(--primary-color-F);
}

/* Styles for the fading text */
.fade-text {
    opacity: 1;
    /* Initial opacity */
    transition: opacity 0.5s ease, transform 0.5s ease;
    /* Add the transition for opacity and transform */
    color: white;
    user-select: none;
}

/* On hover, fade the text to 0 opacity and scale it slightly */
.fact-card:hover .fade-text {
    opacity: 0;
    transform: scale(1.03);
    /* Scale the text slightly on hover off */
}

/* On hover, change the blend mode to normal and scale the background */
.fact-card:hover {
    background-blend-mode: normal;
    transform: scale(1.03);
}

/* home page profile picture  */

.profile-img {
    overflow: hidden;
    /* This ensures that the image won't overflow its container */
}

.profile-img img {
    transition: transform 0.3s ease;
    /* Apply transition for smooth scaling effect */
}

/* Add hover effect to scale the image up */
.profile-img:hover img {
    transform: scale(1.1);
    /* Increase the scale value to make the image larger on hover */
}

.btn-outline-color-C {
    --bs-btn-color: var(--primary-color-C);
    --bs-btn-border-color: var(--primary-color-C);
    --bs-btn-hover-color: var(--primary-color-A);
    --bs-btn-hover-bg: var(--primary-color-C);
    --bs-btn-hover-border-color: var(--primary-color-C);
    --bs-btn-focus-shadow-rgb: 30, 48, 243;
    --bs-btn-active-color: var(--primary-color-A);
    --bs-btn-active-bg: var(--primary-color-C);
    --bs-btn-active-border-color: var(--primary-color-C);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--primary-color-C);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--primary-color-C);
    --bs-gradient: none;
}

/* Skill icon styling */

/* Additional CSS to complement Bootstrap and Flexbox */
.skills-section {
    /* background-color: var(--primary-color-C); */
    color: var(--primary-color-C);
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-item i {
    font-size: 5rem;
    margin-bottom: 1rem;
    color: var(--primary-color-C);
}

.skill-item p {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--primary-color-C);
    margin: 0;
}